import jenkins.model.*
import hudson.model.*
import hudson.tools.*

def inst = Jenkins.getInstance()

def desc = inst.getDescriptor("hudson.model.JDK")

def versions = [
  "JDK18": "{{ jenkins_home }}/tools/jdk1.8.0_181",
  "JDK10": "{{ jenkins_home }}/tools/{{ jdk10_version }}"
]
def installations = [];

for (v in versions) {
  def installation = new JDK(v.key, v.value)
  installations.push(installation)
}

desc.setInstallations(installations.toArray(new JDK[0]))

desc.save()
