import jenkins.model.*
import hudson.model.*
import hudson.tools.*

def inst = Jenkins.getInstance()

def desc = inst.getDescriptor("hudson.model.JDK")

def versions = [
  "JDK18": "{{ ansible_local.java8.general.home }}",
  "JDK11": "{{ ansible_local.java11.general.home }}",
]
def installations = [];

for (v in versions) {
  def installation = new JDK(v.key, v.value)
  installations.push(installation)
}

desc.setInstallations(installations.toArray(new JDK[0]))

desc.save()
