/*
   Author: Glen Mailer (https://github.com/glenjamin)
           Sam Gleske (https://github.com/samrocketman)
   Original Script:
     https://github.com/jenkinsci/slack-plugin/issues/23
 */
import jenkins.*
import jenkins.model.*
import hudson.*
import hudson.model.*

if(!binding.hasVariable('slack_settings')) {
    slack_settings = [
      slackTeamDomain: '{{ slack_domain }}',
      slackToken: '{{ slack_token }}',
      slackRoom: '{{ slack_room }}',
    ]
}
if(!(slack_settings instanceof Map)) {
    throw new Exception('slack_settings must be a Map.')
}

def slack = Jenkins.instance.getExtensionList('jenkins.plugins.slack.SlackNotifier$DescriptorImpl')[0]

boolean save = false
String teamDomain = (slack_settings['teamDomain'])?:''
String tokenCredentialId = (slack_settings['tokenCredentialId'])?:''
String room = (slack_settings['room'])?:''

if(teamDomain != slack.teamDomain) {
    slack.teamDomain = teamDomain
    save = true
}
if(tokenCredentialId != slack.tokenCredentialId) {
    slack.tokenCredentialId = tokenCredentialId
    save = true
}
if(room != slack.room) {
    slack.room = room
    save = true
}
if(save) {
    println 'Slack configured.'
    slack.save()
}
else {
    println 'Nothing changed.  Slack already configured.'
}
